:root {
  --color-primario: rgb(81, 55, 97);
  --color-primario-transparente: rgb(81, 55, 97, 0.2);
  --color-primario-semi-transparente: rgba(81, 55, 98, 0.6);
  --color-fondo: rgb(50, 6, 76, 0.85);
  --color-texto-oscuro: #5b1e81;
  --color-texto-claro: #fbf3ff;
  --color-fondo-entrada: #ad9bb7;
  --color-boton: #ffffff;
  --color-boton-hover: #14021e;
  --color-sombra: rgba(0, 0, 0, 0.7);
  --font-family-global: "Roboto Mono", Arial, Helvetica, sans-serif;
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  color: var(--color-texto-claro);
  font-size: 0.875rem; /*14px */
  font-family: var(--font-family-global);
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  background-color: var(--color-primario);
}

.header-info {
  display: flex;
  align-items: center;
  width: 100%;
}

.logo-alura {
  height: 40px;
}

.header-titulo {
  margin: 0 auto;
}
#selector-tema {
  background-color: var(--color-boton);
  padding: 5px;
  border-radius: 10px;
  color: var(--color-fondo-entrada);
  outline: none;
}

/* Estilos del contenido principal */
.contenido {
  width: 100%;
  flex: 1;
  background-color: var(--color-fondo);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 20px;
}

.contenido-encriptador {
  background-color: var(--color-primario-transparente);
  border-radius: 30px;
  min-height: 300px;
  max-width: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 4px 15px var(--color-sombra);
  border: none;
  font-size: 1.2rem;
  gap: 10px;
  padding: 20px;
}

/* Estilos del área de texto */
#text-ingresado {
  resize: none;
  min-height: 250px;
  height: auto;
  width: 100%;
  outline: none;
  border-radius: 30px;
  color: var(--color-texto-oscuro);
  background-color: var(--color-fondo-entrada);
  font-family: var(--font-family-global);
  text-align: center;
  align-content: center;
  overflow-y: auto;
  font-size: 1.5rem;
  padding: 10px;
}

#text-ingresado::placeholder {
  color: var(--color-texto-oscuro);
  opacity: 1;
  font-size: 1.25rem;
}

.advertencia {
  margin-left: 15px;
  display: flex;
  gap: 10px;
  align-items: baseline;
}

/* Estilos de los botones */
.btn {
  border: none;
  box-shadow: 0 4px 8px var(--color-sombra);
  width: 100px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 15px;
  background-color: var(--color-boton);
  color: var(--color-fondo);
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  transform: scale(1.125);
  background-color: var(--color-boton-hover);
  color: var(--color-texto-claro);
}

.btn-accion {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.texto-resultado {
  background-color: var(--color-primario-transparente);
  box-shadow: 0 4px 15px var(--color-sombra);
  border: none;
  border-radius: 30px;
  min-height: 360px;
  max-width: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  display: none;
}

#resultado {
  resize: none;
  min-height: 300px;
  height: auto;
  width: 100%;
  outline: none;
  border-radius: 30px;
  color: var(--color-texto-oscuro);
  background-color: var(--color-fondo-entrada);
  font-family: var(--font-family-global);
  text-align: center;
  align-content: center;
  overflow-y: auto;
  font-size: 1.25rem;
  padding: 10px;
}

.panel-imagen {
  background-color: var(--color-primario-semi-transparente);
  border-radius: 30px;
  min-height: 410px;
  max-width: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 15px var(--color-sombra);
}

.avatar {
  max-width: 60%;
  height: auto;
}

.panel-parrafo,
.panel-mensaje {
  margin: 5px;
  border-radius: 15px;
  padding: 2px;
  align-content: center;
}

.footer {
  width: 100%;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  gap: 50px;
  background-color: var(--color-primario);
}

.footer-info {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.footer-info i {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-boton);
  color: var(--color-texto-oscuro);
  border-radius: 25px;
  transition: all 0.3s ease;
}
.footer-info a {
  text-decoration: none;
}

.footer-info i:hover {
  transform: scale(1.2);
  background-color: var(--color-boton-hover);
}

/* Media Queries */
@media (max-width: 1200px) {
  .contenido {
    padding: 30px;
    flex-direction: column;
  }
  .contenido-encriptador,
  .texto-resultado {
    max-width: 90%;
  }
  .panel-imagen {
    min-height: 150px;
    min-width: 90%;
  }
  .avatar {
    display: none;
  }
  #text-ingresado,
  #resultado {
    font-size: 1rem;
  }
  .mq-p-text {
    font-size: 1.3rem;
  }
}

@media (max-width: 768px) {
  .contenido {
    gap: 30px;
    padding: 20px;
  }
  .mq-h-text {
    font-size: 1.25rem;
  }
  .mq-p-text {
    font-size: 1rem;
  }
  .avatar {
    display: none;
  }
  .footer-info i {
    width: 30px;
    height: 30px;
  }
  #selector-tema {
    margin-left: 25px;
  }
}

@media (max-width: 480px) {
  .contenido {
    gap: 15px;
  }
  .mq-h-text {
    font-size: 1rem;
  }
  .mq-p-text {
    font-size: 0.8rem;
  }
  #text-ingresado,
  #resultado {
    font-size: 1rem;
  }
  .btn {
    width: 100px;
    font-size: 0.65rem;
    text-align: center;
  }
  .footer-info i {
    font-size: 0.7rem;
    width: 20px;
    height: 20px;
  }
  #selector-tema {
    margin-left: 20px;
  }
}

@media (max-width: 300px) {
  .btn-accion {
    flex-direction: column;
    gap: 1px;
    align-items: center;
  }
  .footer-info {
    margin-left: 20px;
  }
}
