* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
  font-size: 16px;
  font-family: "poppins", Arial, Helvetica, sans-serif;
}
header {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #32064c;
}
.header-info {
  width: 50%;
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
}
.link__logoAlura,
.footer-titulo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenido {
  width: 100%;
  height: 80%;
  padding: 2%;
  background-color: #32064c;
  /*  border: 2px solid #fff; */
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contenido-encriptador {
  background-color: rgba(40, 5, 61, 0.8);
  border-radius: 10px;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2%;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
  border: none;
}

#text-ingresado {
  resize: none;
  height: 80%;
  width: 95%;
  margin: 2.5%;
  outline: none;
  padding-top: 20%;
  border-radius: 5px;
  color: #fff;
  background-color: #ad9bb7;
  backdrop-filter: blur(0.2px);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  text-align: center;
  overflow: hidden;
}

#text-ingresado::placeholder {
  color: #fff;
  opacity: 1;
  text-align: center;
}

.advertencia {
  margin: 2%;
  display: flex;
  gap: 10px;
  align-items: baseline;
}

.btn {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  width: 6rem;
  height: 2.25rem;
  margin-bottom: 0.5rem;
  border-radius: 15px;
  background-color: #ffffff;
  color: #32064c;
}
.btn:hover {
  transform: scale(1.2);
  background-color: #5b3870;
  color: #fff;
}

.btn-accion {
  display: flex;
  justify-content: center;
  gap: 5%;
}
.texto-resultado {
  background-color: rgba(40, 5, 61, 0.8);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 10px;
  height: 100%;
  width: 35%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 2%;
  display: none;
}

#resultado {
  resize: none;
  height: 80%;
  width: 95%;
  margin: 2.5%;
  outline: none;
  padding-top: 35%;
  border-radius: 5px;
  color: #fff;
  background-color: #ad9bb7;
  backdrop-filter: blur(0.2px);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  text-align: center;
  overflow: hidden;
}

#resultado::placeholder {
  color: #fff;
  opacity: 1;
  text-align: center;
}

.panel-imagen {
  background-color: #28053d;
  border-radius: 10px;
  height: 100%;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2%;
  padding-bottom: 1%;
  font-size: 1rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
}

.avatar {
  width: 90%;
  height: 80%;
  margin: 2%;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 10%;
  font-size: 24px;
  background-color: #32064c;
}
.footer-info {
  width: 10%;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.footer-info i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
}

.footer-info i:hover {
  transform: scale(1.2); /* Agranda el icono */
  background-color: #14021e; /* Cambia el color de fondo */
}
