* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  color: #fff;
}

.advertencia i {
  padding-right: 5px;
}
/* .contenido {
}
.contenido-encriptador {
}
#text-ingresado {
}

.btn {
}

.texto-resultado {
}

#resultado {
}
 */
