/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styles */
body {
  width: 100vw;
  height: 100dvh;
  color: white;
  font-size: 14px;
  font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
}

/* Header Styles */
header {
  height: 10%;
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: rgb(81, 55, 97, 1);
  padding: 0 20px;
}

.header-info {
  display: flex;
  align-items: center;
  width: 100%;
}

.logo-alura {
  height: 80%;
}

.header-titulo {
  margin: 0 auto;
}

/* Main Content Styles */
.contenido {
  width: 100vw;
  height: 80vh;
  background-color: rgb(50, 6, 76, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.contenido-encriptador {
  background-color: rgb(81, 55, 97, 0.2);
  border-radius: 30px;
  height: 90%;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.7);
  border: none;
  font-size: 1.2rem;
  gap: 10px;
}

/* Textarea Styles */
#text-ingresado {
  resize: none;
  height: 70%;
  width: 95%;
  margin: 2.5%;
  outline: none;
  border-radius: 30px;
  color: #fff;
  background-color: #ad9bb7;
  font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
  text-align: center;
  align-content: center;
  overflow-y: auto;
  font-size: 1.5rem;
}

#text-ingresado::placeholder {
  color: #5b1e81;
  opacity: 1;
  font-size: 1.25rem;
}

.advertencia {
  margin-left: 15px;
  display: flex;
  gap: 10px;
  align-items: baseline;
}

/* Button Styles */
.btn {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  width: 100px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 15px;
  background-color: #ffffff;
  color: #32064c;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  transform: scale(1.125);
  background-color: #14021e;
  color: #fbf3ff;
}

.btn-accion {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.texto-resultado {
  background-color: rgb(81, 55, 97, 0.2);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 30px;
  height: 90%;
  width: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2%;
  display: none;
}

#resultado {
  resize: none;
  height: 85%;
  width: 95%;
  margin: 4%;
  outline: none;
  border-radius: 30px;
  color: #fff;
  background-color: #ad9bb7;
  font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
  text-align: center;
  align-content: center;
  overflow-y: auto;
  font-size: 1.25rem;
}

.panel-imagen {
  background-color: rgba(81, 55, 98, 0.6);
  border-radius: 30px;
  height: 90%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
}

.avatar {
  width: 60%;
}
.panel-parrafo,
.panel-mensaje {
  margin: 5px;
  border-radius: 15px;
  padding: 2px;
  align-content: center;
}

/* Footer Styles */
.footer {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  gap: 50px;
  background-color: rgb(81, 55, 97, 1);
}

.footer-info {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.footer-info i {
  width: 40px;
  height: 40px;
  align-content: center;
  text-align: center;
  background-color: #fff;
  border-radius: 25px;
  transition: all 0.3s ease;
}

.footer-info i:hover {
  transform: scale(1.2);
  background-color: #14021e;
}

/* Media Queries */
@media (min-width: 900px) and (max-width: 1200px) {
  .contenido-encriptador {
    width: 60%;
    font-size: 0.9rem;
  }
 .texto-resultado{
  width: 30%;

  }
  .panel-imagen {
    width: 20%;
  }

  #text-ingresado::placeholder {
    font-size: 1rem;
  }
  .mq-h-text {
    font-size: 1.3rem;
  }
}

@media (min-width: 700px) and (max-width: 899px) {
  .contenido {
    flex-direction: column;
    gap: 15px;
    padding: 20px;
  }
  .contenido-encriptador {
    width: 80%;
    height: 70%;
  }
  .texto-resultado {
    height: 50%;
    width: 80%;
  }
  .panel-imagen {
    height: 30%;
    width: 80%;
  }
  .mq-h-text {
    font-size: 1.2rem;
  }
  .mq-p-text {
    font-size: 0.8rem;
  }
  .logo-alura {
    width: 80%;
  }
  .avatar {
    display: none;
  }

  #text-ingresado,
  #resultado {
    font-size: 1rem;
    padding: 10px;
  }

  #text-ingresado::placeholder {
    font-size: 0.8rem;
  }
  .footer-info i {
    width: 30px;
    height: 30px;
  }
}

@media (min-width: 500px) and (max-width: 699px) {
  .contenido {
    flex-direction: column;
    gap: 15px;
    padding: 20px;
  }

  .contenido-encriptador,
  .texto-resultado {
    height: 70%;
    width: 100%;
    font-size: 0.9rem;
  }
  .panel-imagen {
    height: 20%;
    width: 100%;
    gap: 0;
  }

  .logo-alura {
    width: 80%;
  }

  .mq-h-text {
    font-size: 1rem;
  }
  .mq-p-text {
    font-size: 0.7rem;
  }

  .avatar {
    display: none;
  }

  #text-ingresado,
  #resultado {
    font-size: 1rem;
    padding: 10px;
  }

  #text-ingresado::placeholder {
    font-size: 0.7rem;
  }
  .footer-info i {
    width: 30px;
    height: 30px;
  }
}

@media (min-width: 100px) and (max-width: 499px) {
  .contenido {
    flex-direction: column;
    padding: 20px;
    gap: 15px;
  }
  .logo-alura {
    width: 80%;
  }

  .contenido-encriptador,
  .texto-resultado{
    width: 100%;
  }
  
  .panel-imagen {
    width: 100%;
    height: 20%;
  }

  .mq-h-text {
    font-size: 0.7rem;
  }
  .mq-p-text {
    font-size: 0.5rem;
  }

  .avatar {
    display: none;
  }

  #text-ingresado,
  #resultado {
    font-size: 0.7rem;
    padding: 10px;
  }
.btn{
  width: 75px;
  font-size: 0.65rem;
}
  #text-ingresado::placeholder {
    font-size: 0.5rem;
  }
  .footer-info i {
    font-size: 0.7rem;
    width: 20px;
    height: 20px;
  }
}
@media(max-width: 300px){
  .btn-accion{
    flex-direction: column;
    gap: 0;
    justify-content: center;
    align-items: center;
  }
}
